<aside class="sidebar" [class.mobile-active]="isMobileMenuOpen">

  <!-- HEADER -->
  <div class="sidebar-header">
    <!-- Botón Hamburguesa (solo visible en móvil) -->
    <mat-icon 
      class="mobile-toggle" 
      *ngIf="isMobileView"
      (click)="toggleMobileMenu()">
      {{ isMobileMenuOpen ? 'close' : 'menu' }}
    </mat-icon>
    
    <span class="sidebar-title">{{ title }}</span>
  </div>

  <!-- MENU -->
  <nav class="sidebar-menu">

    <div
      class="menu-item"
      *ngFor="let item of items; let i = index"
    >
      <!-- ITEM PRINCIPAL -->
      <div
        class="menu-main"
        [class.active]="activeIndex === i"
        (click)="item.children ? toggle(i) : navigateAndClose(item.route)"
        [routerLink]="!item.children ? item.route : null"
      >
        <mat-icon class="icon">{{ item.icon }}</mat-icon>
        <span class="label">{{ item.label }}</span>

        <mat-icon class="arrow" *ngIf="item.children">
          {{ activeIndex === i ? 'expand_less' : 'expand_more' }}
        </mat-icon>
      </div>

      <!-- SUBMENU -->
      <div class="submenu" *ngIf="item.children && activeIndex === i">
        <a
          class="submenu-item"
          *ngFor="let child of item.children"
          [routerLink]="child.route"
          routerLinkActive="active"
          (click)="closeMobileMenu()"
        >
          <mat-icon>{{ child.icon }}</mat-icon>
          <span>{{ child.label }}</span>
        </a>
      </div>
    </div>

  </nav>

  <!-- ================= CERRAR SESIÓN ================= -->
<div class="sidebar-footer">
  <div class="logout-item" (click)="logout.emit()">
    <mat-icon class="icon-logout">logout</mat-icon>
    <span>Cerrar sesión</span>
  </div>
</div>


</aside>
