<div class="home-layout">

  <!-- ================= SIDEBAR ================= -->
  <aside class="sidebar-area">
    <app-sidebar
      [title]="sidebarTitle"
      [items]="sidebarItems"
      (logout)="cerrarSesion()"
    ></app-sidebar>
  </aside>

  <!-- ================= MAIN ================= -->
  <main class="main-area">

    <!-- ===== TOPBAR ===== -->
    <header class="topbar-area">
      <app-admin-topbar
        mensaje="BIENVENIDO AL PANEL DE GESTIÓN"
        [nombre]="nombreUsuario"
        [rol]="rolUsuario"
        [iniciales]="inicialesUsuario"
        [subtitulo]="subtituloFecha"
        (logout)="cerrarSesion()"
      ></app-admin-topbar>
    </header>

    <!-- ===== CONTENIDO DINÁMICO ===== -->
    <!-- IMPORTANTE: este contenedor es el ÚNICO que puede hacer scroll -->
    <section class="content-area">
      <router-outlet></router-outlet>
    </section>

  </main>

</div>
