<div class="tabla-wrapper">
  <div class="tabla-header">
    <div class="busqueda-wrapper">
      <input
        type="text"
        placeholder="Buscar..."
        [(ngModel)]="textoBusqueda"
        (input)="buscar()"
        class="input-busqueda"
      />
    </div>

    <div class="botones-top">
      <button
        *ngFor="let btn of botonesGlobales" 
        class="btn-tabla primary"
        (click)="emitir(btn.evento)"
      >
        {{ btn.texto }}
      </button>
    </div>
  </div>

  <div class="tabla-scroll">
    <table>
      <thead>
        <tr>
          <th *ngFor="let col of columnas">{{ col.label }}</th>
          <th class="text-right"></th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let fila of dataFiltrada">
          <td *ngFor="let col of columnas">
            <span class="cell-text">{{ fila[col.key] }}</span>
          </td>

          <td class="text-right">
            <div class="acciones-container">
              <button
                *ngFor="let btn of botonesAccion" 
                class="btn-accion-fila"
                [ngClass]="btn.tipo"
                (click)="emitir(btn.evento, fila)"
              >
                {{ btn.texto }}
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>