<div class="admin-topbar">

  <!-- IZQUIERDA -->
  <div class="topbar-left">
    <span class="role-label">
      {{ mensaje }}
    </span>
  </div>

  <!-- DERECHA -->
  <div class="topbar-right">

    <!-- AVATAR -->
    <div class="avatar clickable" (click)="toggleLogout()">
      <span class="avatar-initials">
        {{ iniciales }}
      </span>
    </div>

    <!-- INFO -->
    <div class="user-info">
      <span class="user-name">{{ nombre }}</span>
      <span class="user-role">{{ rol }}</span>
    </div>

  </div>
</div>
