/*  COLORES BASE – RISKLESS*/
/*  Colores primarios de marca */
$color-dorado: #C6AF6B;
$color-azul-oscuro: #062140;
$color-azul-celeste: #3891F4;

/* TEXTO*/
$texto-principal: #2b2b2b;        /* Texto principal */
$texto-secundario: #5a5a5a;       /* Texto secundario */
$texto-terciario: #6d6d6d;        /* Texto terciario */
$texto-deshabilitado: #9e9e9e;    /* Texto deshabilitado */
$texto-claro: #f6f6f6;            /* Texto sobre fondo oscuro */

/* FONDOS*/
$fondo-claro: #ffffff;
$fondo-claro-80: rgba(255, 255, 255, 0.8);
$fondo-claro-20: rgba(255, 255, 255, 0.2);
$fondo-gris-suave: #f8f8f8;

$fondo-oscuro: #000000;
$fondo-oscuro-70: rgba(0, 0, 0, 0.7);

/* GRISES (NEUTROS)*/
$gris-50: #fafafa;
$gris-100: #f5f5f5;
$gris-200: #eeeeee;
$gris-300: #e0e0e0;
$gris-400: #bdbdbd;
$gris-500: #9e9e9e;
$gris-600: #757575;
$gris-700: #616161;
$gris-800: #424242;
$gris-900: #212121;

/* ROJO – ERROR / ALERTA*/
$rojo-950: #4a0d14;
$rojo-700: #b71c1c;
$rojo-600: #c62828;
$rojo-50: #fde7e9;

/* VERDE – ÉXITO*/
$verde-700: #1b5e20;
$verde-600: #2e7d32;
$verde-500: #388e3c;
$verde-50: #e6f5e9;

/* AZUL – INFORMATIVO*/
$azul-800: #0d47a1;
$azul-600: #1565c0;
$azul-500: #1976d2;
$azul-50: #e0f2fd;

/* AMARILLO – ADVERTENCIA*/
$amarillo-800: #e65100;
$amarillo-700: #f57f17;
$amarillo-600: #fbc02d;
$amarillo-50: #fff8e1;

/* MORADO – ETIQUETAS*/
$morado-800: #4a148c;
$morado-600: #6a1b9a;
$morado-500: #8e24aa;
$morado-50: #f3e5f5;

/*  AQUA – ACENTOS*/
$aqua-800: #006064;
$aqua-500: #00acc1;
$aqua-400: #26c6da;
$aqua-50: #e0f7fa;
