<div class="facturacion-container">

  <!-- ================= HEADER ================= -->
  <div class="header-seccion">

    <!-- GRUPO IZQUIERDO: TÍTULO -->
    <div class="title-group">
      <h2>Listado de Facturación</h2>
      <p class="subtitle">Gestiona las facturas y pagos de tus clientes.</p>
    </div>

    <!-- GRUPO DERECHO: CARD TOTAL -->
    <div class="total-badge-card">
      <div class="card-content">
        <strong>{{ mapper.totalFacturas }}</strong>
        <span>Total Facturas</span>
      </div>
      <div class="trend-badge">
        <span class="material-icons">trending_up</span> +15.2%
      </div>
    </div>

  </div>

  <!-- ================= TABLA ================= -->
  <div class="table-wrapper">
    <app-tabla-dinamica [columnas]="mapper.columnas" [data]="mapper.facturas" [botones]="mapper.botones"
      [placeholder]="'Buscar por Factura, Fecha, Monto, etc...'" [itemsPorPagina]="6" [layout]="'fixed'"
      (accion)="mapper.manejarAccion($event)">
    </app-tabla-dinamica>

  </div>

  <!-- ================= FORMULARIO ================= -->
  <app-dynamic-form *ngIf="mapper.mostrarFormulario" [titulo]="mapper.modoFormulario === 'crear'
    ? 'Nueva factura'
    : 'Editar factura'" [fields]="mapper.fields" [initialData]="mapper.formData"
    (valueChange)="mapper.manejarCambioFormulario($event)" (formSubmit)="mapper.recibirFormulario($event)"
    (cancelar)="mapper.cerrarFormulario()">
  </app-dynamic-form>

</div>