<div class="facturacion-container">

  <!-- ================= HEADER ================= -->
  <div class="header-seccion">

    <div class="title-group">
      <h2>Listado de facturación</h2>

      <div class="total-badge-card">
        <span>Total</span>
        <strong>{{ mapper.totalFacturas }}</strong>
      </div>
    </div>

  </div>

  <!-- ================= TABLA ================= -->
  <div class="table-wrapper">
   <app-tabla-dinamica
  [columnas]="mapper.columnas"
  [data]="mapper.facturas"
  [botones]="mapper.botones"
  (accion)="mapper.manejarAccion($event)">
</app-tabla-dinamica>

  </div>

  <!-- ================= FORMULARIO ================= -->
<app-dynamic-form
  *ngIf="mapper.mostrarFormulario"
  [titulo]="mapper.modoFormulario === 'crear'
    ? 'Nueva factura'
    : 'Editar factura'"
  [fields]="mapper.fields"
  [initialData]="mapper.formData"
  (valueChange)="mapper.manejarCambioFormulario($event)"
  (formSubmit)="mapper.recibirFormulario($event)"
  (cancelar)="mapper.cerrarFormulario()">
</app-dynamic-form>

</div>
