<div class="pedidos-container">

  <!-- ================= HEADER ================= -->
  <div class="header-seccion">

    <!-- GRUPO IZQUIERDO: TÍTULO + TOTAL -->
    <div class="title-group">
      <h2>Listado de pedidos</h2>

      <div class="total-badge-card">
        <span>Total</span>
        <strong>{{ mapper.totalPedidos }}</strong>
      </div>
    </div>

  </div>

  <!-- ================= TABLA ================= -->
  <div class="table-wrapper">
    <app-tabla-dinamica
      [columnas]="mapper.columnas"
      [data]="mapper.pedidos"
      [botones]="mapper.botones"
      (accion)="mapper.manejarAccion($event)">
    </app-tabla-dinamica>
  </div>

  <!-- ================= FORMULARIO ================= -->
<app-dynamic-form
  *ngIf="mapper.mostrarFormulario"
  [titulo]="mapper.modoFormulario === 'crear'
    ? 'Nuevo pedido'
    : 'Editar pedido'"
  [fields]="mapper.fields"
  [initialData]="mapper.pedidoSeleccionado"
  (valueChange)="mapper.manejarCambioFormulario($event)"
  (formSubmit)="mapper.recibirFormulario($event.value)"
  (filesSelected)="mapper.archivos = $event"
  (cancelar)="mapper.cerrarFormulario()">
</app-dynamic-form>


</div>
